POSTGRES_USER=feed_user
POSTGRES_PASSWORD=feed_password
POSTGRES_DB=feed_db
DATABASE_URL=postgis://feed_user:feed_password@db:5432/feed_db
ALLOW_IP_RANGE=0.0.0.0/0
STATIC_ROOT=/static/
HEROKU_APP=askotagodev
PORT=8080
