body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.radio,
.checkbox {
  margin-bottom: 20px;
}


.ask-navbar {
    background: url(../image/bg.png) no-repeat 0 0 #FFC10E;
    background-size: 370px;
    position: relative;
    height: 75px;
}
.ask-navbar-text {
    text-indent: -9999px;
    display: block;
    height: 75px;
    background: url(../image/text.png) no-repeat 0 20px;
    background-size: 250px;
}

.container .content {
    display: none;
    padding : 5px;
}



.submission {
    /* submission form */
    max-width: 100%;
}

.submission textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
}


.card-title {
font-size: 14pt;
font-family: Verdana, sans-serif;
}

.post, .post:hover, .post:link, .post:active .post:visited {
    font-size: 2em;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.post:hover {
    background-color: #F0F0F0;
    text-decoration: none;
}

.card-body, .card-body:hover, .card-body:link, .card-body:active, .card-body:visited {
    text-decoration: none;
}


.post-details {
    /* time and number of comments, grey text */
    font-size: 0.6em;
    color: #444444;
}

