<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" action="">
    {%  csrf_token %}
    <table>
        {{ submission.as_table }}
    </table>
    <input type="submit" value="Submit"/>
</form>

{% if latest_posts %}
    {# latests_posts defined in views.index #}
    {# TODO - allow user customisable queries (hot in category, most votes...) #}
    <ul>
    {% for post in latest_posts %}
        <li><a href="{% url 'core:detail' post.id %}">{{ post.body }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts.</p>
{% endif %}
</body>
</html>