{% extends "_layout.html" %}

{% block container %}


    <form method="post" action="">
            {%  csrf_token %}
            <table>
                    {{ submission.as_table }}
            </table>
            <input type="submit" value="Submit"/>
    </form>

    <br />

{% if latest_posts %}
    {# latests_posts defined in views.index #}
    {# TODO - allow user customisable queries (hot in category, most votes...) #}

    {% for post in latest_posts %}
    <a href="{% url 'core:detail' post.id %}">
        <div class="card mb-3" >
            <div class="card-body">
                {{ post.body }}
            </div>
        </div>
    </a>
    {% endfor %}

{% else %}
    <p>No posts.</p>
{% endif %}

{% endblock container %}